@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root{
    --primary-color: rgb(29, 31, 29); /*variável em css, depois chamamos ela com o var(--primary-color);*/
    --primary-color-darker: rgb(6, 7, 6);
}

*{
    box-sizing: border-box;
    outline: 0;
}

.h1{
    font-size: 20px;
}

body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container{
    max-width: 640px;
    margin: 20px auto;
    background: rgb(95, 133, 95);
    padding: 20px;
    border-radius: 10px;
}

table#tabTitulo{
    line-height: 1px;
}

table#tabTitulo h1{
    font-size: 20px;
}

table#tabTitulo td{
    padding-right: 120px;;
}

table#tabTitulo h2{
    font-size: 18px;
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input{
    font-size: 20px;
    height: 40px;
    padding: 0 20px;
}

form input:focus{
    outline: 1px solid var(--primary-color);
}

form button{
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 40px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover{
    background: var(--primary-color-darker);
}

.paragrafo-resultado, .bad{
    background: rgb(135, 255, 195);
    padding: 10px 20px;
}

.bad{
    background: rgb(255, 104, 104);
}